.App {
  padding: 20px;
}

button {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 20px;
  border: 0;
  background-color: #0b7eeb;
  color: white;
}

button:hover,
button:focus {
  background-color: #0858a3;
}
